<!-- <h1>Rock Paper Scissors Lizard Spock</h1>
<p>Scissors cut Paper, Paper covers Rock, Rock crushes Lizard, Lizard poisons Spock, Spock smashes Scissors, Scissors decapitate Lizard, Lizard eats Paper, Paper disproves Spock, Spock vaporizes Rock, Rock crushes Scissors.</p> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <ul>
        <li>
          Player 1
        </li>
        <li>
          Rock
          <!-- < % = link_to "Home", root_path % > -->
        </li>
        <li>
          Paper
          <!-- < % = link_to "About", simple_pages_about_path % > -->
        </li>
        <li>
          Scissors
          <!-- < % = link_to "Contact", simple_pages_contact_path % > -->
        </li>
        <li>
          Lizard
        </li>
        <li>
          Spock
        </li>
      </ul>
    </div>
    <div class="col-xs-6">
      <%= image_tag("rpsls.png",
        id: "img_rpsls",
        # width: "50%",
        alt: "RV_Passport_Photo")
      %>
    </div>
    <div class="col-xs-3">
      <ul>
        <li>
          Player 1
        </li>
        <li>
          Rock
          <!-- < % = link_to "Home", root_path % > -->
        </li>
        <li>
          Paper
          <!-- < % = link_to "About", simple_pages_about_path % > -->
        </li>
        <li>
          Scissors
          <!-- < % = link_to "Contact", simple_pages_contact_path % > -->
        </li>
        <li>
          Lizard
        </li>
        <li>
          Spock
        </li>
      </ul>
    </div>
  </div>
</div>
