
<!-- <h1>Rock Paper Scissors Lizard Spock</h1>
<p>Scissors cut Paper, Paper covers Rock, Rock crushes Lizard, Lizard poisons Spock, Spock smashes Scissors, Scissors decapitate Lizard, Lizard eats Paper, Paper disproves Spock, Spock vaporizes Rock, Rock crushes Scissors.</p> -->

<div id="screen_lock">
  <div id="screen_lock_spacer_top"></div>
  Screen orientation<br>landscape only
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <ul>
        <li>
          <button id="p1_dummy_btn" type="button" class="btn btn-outline-primary" disabled="disabled">Player 1</button>
        </li>
        <li>
          <button id="p1_rock_btn" type="button" class="btn btn-primary p1_hand_btn">Rock</button>
          <!-- < % = link_to "Home", root_path % > -->
        </li>
        <li>
          <button id="p1_paper_btn" type="button" class="btn btn-primary p1_hand_btn">Paper</button>
          <!-- < % = link_to "About", simple_pages_about_path % > -->
        </li>
        <li>
          <button id="p1_scissors_btn" type="button" class="btn btn-primary p1_hand_btn">Scissors</button>
          <!-- < % = link_to "Contact", simple_pages_contact_path % > -->
        </li>
        <li>
          <button id="p1_lizard_btn" type="button" class="btn btn-primary p1_hand_btn">Lizard</button>
        </li>
        <li>
          <button id="p1_spock_btn" type="button" class="btn btn-primary p1_hand_btn">Spock</button>
        </li>
      </ul>
    </div>
    <div class="col-xs-6">
      <div class="image_spacer"></div>
      <div class="image_div">
        <%= image_tag("rpsls.png",
          id: "img_rpsls",
          alt: "RockPaperScissorsLizardSpock")
        %>
      </div>
      <div class="image_spacer">
        <button id="div_below_img" type="button" class="btn btn-outline-primary" disabled="disabled"></button>
      </div>
    </div>
    <div class="col-xs-3">
      <ul>
        <li>
          <button id="p2_sel_btn" type="button" class="btn btn-secondary">Player 2</button>
        </li>
        <li>
          <button id="p2_rock_btn" type="button" class="btn btn-primary p2_hand_btn">Rock</button>
          <!-- < % = link_to "Home", root_path % > -->
        </li>
        <li>
          <button id="p2_paper_btn" type="button" class="btn btn-primary p2_hand_btn">Paper</button>
          <!-- < % = link_to "About", simple_pages_about_path % > -->
        </li>
        <li>
          <button id="p2_scissors_btn" type="button" class="btn btn-primary p2_hand_btn">Scissors</button>
          <!-- < % = link_to "Contact", simple_pages_contact_path % > -->
        </li>
        <li>
          <button id="p2_lizard_btn" type="button" class="btn btn-primary p2_hand_btn">Lizard</button>
        </li>
        <li>
          <button id="p2_spock_btn" type="button" class="btn btn-primary p2_hand_btn">Spock</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <% $p2_computer_ruby = false %> -->

<script>
  // States for two players
  const states = {
    s_ready: 'S_READY',
    s_1_hand: 'S_1_HAND',
    s_2_hands: 'S_2_HANDS'
  };
  var state = states.s_ready;
  const names = {
    player1: 'Player 1',
    player2: 'Player 2',
    computer: 'Computer'
  };
  const hands = {
    tbd: ' ',
    rock: 'Rock',
    paper: 'Paper',
    scissors: 'Scissors',
    lizard: 'Lizard',
    spock: 'Spock'
  };
  var players = {
    p1: {
      name: names.player1,
      hand: hands.tbd
    },
    p2: {
      name: names.player2,
      hand: hands.tbd
    }
  };
  // Init player two computer
  if (players.p2.name === names.computer) {
    $(".p2_hand_btn").prop( "disabled", true );
  } else {
    $(".p2_hand_btn").prop( "disabled", false );
  };
  // $("#p2_sel_btn").html("<span class=\"glyphicon glyphicon-flag\">&thinsp;&thinsp;&thinsp;</span>" + players.p2.name);
  // $("#p2_sel_btn").html(players.p2.name);
  function reset_text_below_image() {
    $("#div_below_img").html("");
  }
  function reset_text_decorations() {
    // $("#p2_sel_btn").css("text-decoration", "none");
    // $("#p1_dummy_btn").css( "text-decoration", "none");
    // $("#p1_rock_btn").css("text-decoration", "none");
    // $("#p1_paper_btn").css("text-decoration", "none");
    // $("#p1_scissors_btn").css("text-decoration", "none");
    // $("#p1_lizard_btn").css("text-decoration", "none");
    // $("#p1_spock_btn").css("text-decoration", "none");
    // $("#p2_rock_btn").css("text-decoration", "none");
    // $("#p2_paper_btn").css("text-decoration", "none");
    // $("#p2_scissors_btn").css("text-decoration", "none");
    // $("#p2_lizard_btn").css("text-decoration", "none");
    // $("#p2_spock_btn").css("text-decoration", "none");
    // $("#p2_sel_btn").css("text-transform", "none");
    // $("#p1_dummy_btn").css( "text-transform", "none");
    // $("#p1_rock_btn").css("text-transform", "none");
    // $("#p1_paper_btn").css("text-transform", "none");
    // $("#p1_scissors_btn").css("text-transform", "none");
    // $("#p1_lizard_btn").css("text-transform", "none");
    // $("#p1_spock_btn").css("text-transform", "none");
    // $("#p2_rock_btn").css("text-transform", "none");
    // $("#p2_paper_btn").css("text-transform", "none");
    // $("#p2_scissors_btn").css("text-transform", "none");
    // $("#p2_lizard_btn").css("text-transform", "none");
    // $("#p2_spock_btn").css("text-transform", "none");
    $("#p2_sel_btn").css("background-color", "#FFBB00");
    $("#p2_sel_btn").css( "color", "#15133C");
    $("#p1_dummy_btn").css( "background-color", "#FFBB00");
    $("#p1_dummy_btn").css( "color", "#15133C");
    $("#p1_rock_btn").css("background-color", "#15133C");
    $("#p1_paper_btn").css("background-color", "#15133C");
    $("#p1_scissors_btn").css("background-color", "#15133C");
    $("#p1_lizard_btn").css("background-color", "#15133C");
    $("#p1_spock_btn").css("background-color", "#15133C");
    $("#p2_rock_btn").css("background-color", "#15133C");
    $("#p2_paper_btn").css("background-color", "#15133C");
    $("#p2_scissors_btn").css("background-color", "#15133C");
    $("#p2_lizard_btn").css("background-color", "#15133C");
    $("#p2_spock_btn").css("background-color", "#15133C");
  };
  function reset_text() {
    reset_text_below_image();
    reset_text_decorations();
  }
  reset_text();
  function randomHand() {
    rand_i = Math.floor((Math.random() * 5) + 1);
    hand_i = "";
    switch(rand_i) {
      case 1:
        hand_i = hands.rock;
        break;
      case 2:
        hand_i = hands.paper;
        break;
      case 3:
        hand_i = hands.scissors;
        break;
      case 4:
        hand_i = hands.lizard;
        break;
      case 5:
        hand_i = hands.spock;
        break;
      default:
        hand_i = hands.tbd;
    }
    return hand_i;
  };
  function fsm(caller_i) {
    if (players.p2.name === names.computer) {
      players.p2.hand = randomHand();
      reset_text_decorations();
      winner();
    } else {
      switch(state) {
        case states.s_ready:
          // Transition
          state = states.s_1_hand;
          // Disable buttons
          if (caller_i === players.p1.name) {
            $(".p1_hand_btn").prop( "disabled", true );
            // Get rid of last games output
            reset_text();
            $("#p1_dummy_btn").html(players.p1.name);
            $("#p2_sel_btn").html(players.p2.name);
            $("#p1_rock_btn").css("background-color", "#606060");
            $("#p1_paper_btn").css("background-color", "#606060");
            $("#p1_scissors_btn").css("background-color", "#606060");
            $("#p1_lizard_btn").css("background-color", "#606060");
            $("#p1_spock_btn").css("background-color", "#606060");
          } else { // Player 2
            $(".p2_hand_btn").prop( "disabled", true );
            // Get rid of last games output
            reset_text();
            $("#p1_dummy_btn").html(players.p1.name);
            $("#p2_sel_btn").html(players.p2.name);
            $("#p2_rock_btn").css("background-color", "#606060");
            $("#p2_paper_btn").css("background-color", "#606060");
            $("#p2_scissors_btn").css("background-color", "#606060");
            $("#p2_lizard_btn").css("background-color", "#606060");
            $("#p2_spock_btn").css("background-color", "#606060");
          }
          $("#p2_sel_btn").prop( "disabled", true );
          break;
        case states.s_1_hand:
          // Transition
          state = states.s_ready;
          // Enable Buttons again
          $(".p1_hand_btn").prop( "disabled", false );
          $(".p2_hand_btn").prop( "disabled", false );
          $("#p2_sel_btn").prop( "disabled", false );
          // Determine the winner
          winner();
          break;
        default:
      }
    }
  }
  // Determine the winner
  function winner() {
    reset_text();
    win_result = ["", ""];
    switch(players.p1.hand) {
      case hands.rock:
        switch(players.p2.hand) {
          case hands.rock:
            win_result = ["Undecided", "Rock equals Rock"];
            break;
          case hands.paper:
            win_result = [players.p2.name, "Paper covers Rock"]
            break;
          case hands.scissors:
            win_result = [players.p1.name, "Rock smashes Scissors"]
            break;
          case hands.lizard:
            win_result = [players.p1.name, "Rock crushes Lizard"]
            break;
          case hands.spock:
            win_result = [players.p2.name, "Spock vaporizes Rock"]
            break;
          default:
          win_result = ["Undecided", "Error"];
        }
        break;
      case hands.paper:
        switch(players.p2.hand) {
          case hands.rock:
            win_result = [players.p1.name, "Paper covers Rock"]
            break;
          case hands.paper:
            win_result = ["Undecided", "Paper equals Paper"];
            break;
          case hands.scissors:
             win_result = [players.p2.name, "Scissors cut Paper"]
            break;
          case hands.lizard:
            win_result = [players.p2.name, "Lizard eats Paper"]
            break;
          case hands.spock:
            win_result = [players.p1.name, "Paper disproves Spock"]
            break;
          default:
          win_result = ["Undecided", "Error"];
        }
        break;
      case hands.scissors:
        switch(players.p2.hand) {
          case hands.rock:
            win_result = [players.p2.name, "Rock smashes Scissors"]
            break;
          case hands.paper:
            win_result = [players.p1.name, "Scissors cut Paper"]
            break;
          case hands.scissors:
            win_result = ["Undecided", "Scissors equals Scissors"];
            break;
          case hands.lizard:
            win_result = [players.p1.name, "Scissors decapitate Lizard"]
            break;
          case hands.spock:
            win_result = [players.p2.name, "Spock smashes Scissors"]
            break;
          default:
          win_result = ["Undecided", "Error"];
        }
        break;
      case hands.lizard:
        switch(players.p2.hand) {
          case hands.rock:
            win_result = [players.p2.name, "Rock smashes Lizard"]
            break;
          case hands.paper:
            win_result = [players.p1.name, "Lizard eats Paper"]
            break;
          case hands.scissors:
            win_result = [players.p2.name, "Scissors decapitate Lizard"]
            break;
          case hands.lizard:
            win_result = ["Undecided", "Lizard equals Lizard"];
            break;
          case hands.spock:
            win_result = [players.p1.name, "Lizard poisons Spock"]
            break;
          default:
          win_result = ["Undecided", "Error"];
        }
        break;
      case hands.spock:
        switch(players.p2.hand) {
          case hands.rock:
            win_result = [players.p1.name, "Spock vaporizes Rock"]
            break;
          case hands.paper:
            win_result = [players.p2.name, "Paper disproves Spock"]
            break;
          case hands.scissors:
            win_result = [players.p1.name, "Spock smashes Scissors"]
            break;
          case hands.lizard:
            win_result = [players.p2.name, "Lizard poisons Spock"]
            break;
          case hands.spock:
            win_result = ["Undecided", "Spock equals Spock"];
            break;
          default:
          win_result = ["Undecided", "Error"];
        }
        break;
      default:
      win_result = ["Undecided", "Error"];
    }
    // Make winner known
    console.log(win_result[0]);
    console.log(players.p1.name);
    console.log(players.p2.name);
    if (players.p1.name === win_result[0]) {
      // $("#p1_dummy_btn").css( "text-decoration", "underline");
      // $("#p1_dummy_btn").css( "text-transform", "uppercase");
      // $("#p2_sel_btn").css( "text-decoration", "none");
      // $("#p2_sel_btn").css( "text-transform", "none");
      // $("#p1_dummy_btn").css( "background-color", "#606060");
      // $("#p1_dummy_btn").css( "color", "#FFBB00");
      // $("#p1_dummy_btn").css( "border-color", "#FFBB00");
      $("#p1_dummy_btn").html("<span class=\"glyphicon glyphicon-flag\">&thinsp;&thinsp;</span>" + players.p1.name);
      $("#p2_sel_btn").css( "background-color", "#FFBB00");
      $("#p2_sel_btn").css( "color", "#15133C");
      $("#p2_sel_btn").html(players.p2.name);

    } else if (players.p2.name === win_result[0]) {
      // $("#p2_sel_btn").css( "text-decoration", "underline");
      // $("#p2_sel_btn").css( "text-transform", "uppercase");
      // $("#p1_dummy_btn").css( "text-decoration", "none" );
      // $("#p1_dummy_btn").css( "text-transform", "none");
      $("#p1_dummy_btn").css( "background-color", "#FFBB00");
      $("#p1_dummy_btn").css( "color", "#15133C");
      $("#p1_dummy_btn").html(players.p1.name);
      $("#p2_sel_btn").html("<span class=\"glyphicon glyphicon-flag\">&thinsp;&thinsp;</span>" + players.p2.name);
      // $("#p2_sel_btn").css( "background-color", "#606060");
      // $("#p2_sel_btn").css( "color", "#FFBB00");
    } else {
      // $("#p1_dummy_btn").css( "text-decoration", "none");
      // $("#p1_dummy_btn").css( "text-transform", "none");
      // $("#p2_sel_btn").css( "text-decoration", "none");
      // $("#p2_sel_btn").css( "text-transform", "none");
      $("#p1_dummy_btn").html(players.p1.name);
      $("#p2_sel_btn").html(players.p2.name);
      $("#p1_dummy_btn").css( "background-color", "#FFBB00");
      $("#p1_dummy_btn").css( "color", "#15133C");
      $("#p2_sel_btn").css( "background-color", "#FFBB00");
      $("#p2_sel_btn").css( "color", "#15133C");
    }
    $("#div_below_img").html(win_result[1]);
    // Underline chosen buttons
    switch(players.p1.hand) {
      case hands.rock:
        // $("#p1_rock_btn").css("text-decoration", "underline");
        // $("#p1_rock_btn").css("text-transform", "uppercase");
        $("#p1_rock_btn").css( "background-color", "#606060");
        break;
      case hands.paper:
        // $("#p1_paper_btn").css("text-decoration", "underline");
        // $("#p1_paper_btn").css("text-transform", "uppercase");
        $("#p1_paper_btn").css( "background-color", "#606060");
        break;
      case hands.scissors:
        // $("#p1_scissors_btn").css("text-decoration", "underline");
        // $("#p1_scissors_btn").css("text-transform", "uppercase");
        $("#p1_scissors_btn").css( "background-color", "#606060");
        break;
      case hands.lizard:
        // $("#p1_lizard_btn").css("text-decoration", "underline");
        // $("#p1_lizard_btn").css("text-transform", "uppercase");
        $("#p1_lizard_btn").css( "background-color", "#606060");
        break;
      case hands.spock:
        // $("#p1_spock_btn").css("text-decoration", "underline");
        // $("#p1_spock_btn").css("text-transform", "uppercase");
        $("#p1_spock_btn").css( "background-color", "#606060");
        break;
      default:
      // $("#p1_rock_btn").css("text-decoration", "none");
      // $("#p1_paper_btn").css("text-decoration", "none");
      // $("#p1_scissors_btn").css("text-decoration", "none");
      // $("#p1_lizard_btn").css("text-decoration", "none");
      // $("#p1_spock_btn").css("text-decoration", "none");
      // $("#p1_rock_btn").css("text-transform", "none");
      // $("#p1_paper_btn").css("text-transform", "none");
      // $("#p1_scissors_btn").css("text-transform", "none");
      // $("#p1_lizard_btn").css("text-transform", "none");
      // $("#p1_spock_btn").css("text-transform", "none");
    }
    switch(players.p2.hand) {
      case hands.rock:
        // $("#p2_rock_btn").css("text-decoration", "underline");
        // $("#p2_rock_btn").css("text-transform", "uppercase");
        $("#p2_rock_btn").css( "background-color", "#606060");
        break;
      case hands.paper:
        // $("#p2_paper_btn").css("text-decoration", "underline");
        // $("#p2_paper_btn").css("text-transform", "uppercase");
        $("#p2_paper_btn").css( "background-color", "#606060");
        break;
      case hands.scissors:
        // $("#p2_scissors_btn").css("text-decoration", "underline");
        // $("#p2_scissors_btn").css("text-transform", "uppercase");
        $("#p2_scissors_btn").css( "background-color", "#606060");
        break;
      case hands.lizard:
        // $("#p2_lizard_btn").css("text-decoration", "underline");
        // $("#p2_lizard_btn").css("text-transform", "uppercase");
        $("#p2_lizard_btn").css( "background-color", "#606060");
        break;
      case hands.spock:
        // $("#p2_spock_btn").css("text-decoration", "underline");
        // $("#p2_spock_btn").css("text-transform", "uppercase");
        $("#p2_spock_btn").css( "background-color", "#606060");
        break;
      default:
      // $("#p2_rock_btn").css("text-decoration", "none");
      // $("#p2_paper_btn").css("text-decoration", "none");
      // $("#p2_scissors_btn").css("text-decoration", "none");
      // $("#p2_lizard_btn").css("text-decoration", "none");
      // $("#p2_spock_btn").css("text-decoration", "none");
      // $("#p2_rock_btn").css("text-transform", "none");
      // $("#p2_paper_btn").css("text-transform", "none");
      // $("#p2_scissors_btn").css("text-transform", "none");
      // $("#p2_lizard_btn").css("text-transform", "none");
      // $("#p2_spock_btn").css("text-transform", "none");
    }
  }
  // Computer vs Player 2 select
  $("#p2_sel_btn").on('click', function(){
    // console.log("Clicked!");
    if (players.p2.name === names.computer) {
      $(".p2_hand_btn").prop( "disabled", false );
      players.p2.name = names.player2;
      reset_text();
      $("#p1_dummy_btn").html(players.p1.name);
      $("#p2_sel_btn").html(players.p2.name);
    } else {
      $(".p2_hand_btn").prop( "disabled", true );
      players.p2.name = names.computer;
      reset_text();
      $("#p2_rock_btn").css("background-color", "#606060");
      $("#p2_paper_btn").css("background-color", "#606060");
      $("#p2_scissors_btn").css("background-color", "#606060");
      $("#p2_lizard_btn").css("background-color", "#606060");
      $("#p2_spock_btn").css("background-color", "#606060");
      $("#p1_dummy_btn").html(players.p1.name);
      $("#p2_sel_btn").html(players.p2.name);
    };
    $(this).html(players.p2.name);
  });
  ////////////////////////////////////////////////////////////////////////
  // Player 1
  ////////////////////////////////////////////////////////////////////////
  // Rock
  $("#p1_rock_btn").on('click', function(){
    players.p1.hand = hands.rock;
    fsm(players.p1.name);
  });
  // Paper
  $("#p1_paper_btn").on('click', function(){
    players.p1.hand = hands.paper;
    fsm(players.p1.name);
  });
  // Scissors
  $("#p1_scissors_btn").on('click', function(){
    players.p1.hand = hands.scissors;
    fsm(players.p1.name);
  });
  // Lizard
  $("#p1_lizard_btn").on('click', function(){
    players.p1.hand = hands.lizard;
    fsm(players.p1.name);
  });
  // Spock
  $("#p1_spock_btn").on('click', function(){
    players.p1.hand = hands.spock;
    fsm(players.p1.name);
  });
  ////////////////////////////////////////////////////////////////////////
  // Player 2
  ////////////////////////////////////////////////////////////////////////
  // Rock
  $("#p2_rock_btn").on('click', function(){
    players.p2.hand = hands.rock;
    fsm(players.p2.name);
  });
  // Paper
  $("#p2_paper_btn").on('click', function(){
    players.p2.hand = hands.paper;
    fsm(players.p2.name);
  });
  // Scissors
  $("#p2_scissors_btn").on('click', function(){
    players.p2.hand = hands.scissors;
    fsm(players.p2.name);
  });
  // Lizard
  $("#p2_lizard_btn").on('click', function(){
    players.p2.hand = hands.lizard;
    fsm(players.p2.name);
  });
  // Spock
  $("#p2_spock_btn").on('click', function(){
    players.p2.hand = hands.spock;
    fsm(players.p2.name);
  });
</script>
