<!-- <h1>Rock Paper Scissors Lizard Spock</h1>
<p>Scissors cut Paper, Paper covers Rock, Rock crushes Lizard, Lizard poisons Spock, Spock smashes Scissors, Scissors decapitate Lizard, Lizard eats Paper, Paper disproves Spock, Spock vaporizes Rock, Rock crushes Scissors.</p> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <ul>
        <li>
          <button type="button" class="btn btn-outline-primary" disabled="disabled">Player 1</button>
        </li>
        <li>
          <button type="button" class="btn btn-primary">Rock</button>
          <!-- < % = link_to "Home", root_path % > -->
        </li>
        <li>
          <button type="button" class="btn btn-primary">Paper</button>
          <!-- < % = link_to "About", simple_pages_about_path % > -->
        </li>
        <li>
          <button type="button" class="btn btn-primary">Scissors</button>
          <!-- < % = link_to "Contact", simple_pages_contact_path % > -->
        </li>
        <li>
          <button type="button" class="btn btn-primary">Lizard</button>
        </li>
        <li>
          <button type="button" class="btn btn-primary">Spock</button>
        </li>
      </ul>
    </div>
    <div class="col-xs-6">
      <div class="image_spacer"></div>
      <div class="image_div">
        <%= image_tag("rpsls.png",
          id: "img_rpsls",
          alt: "RV_Passport_Photo")
        %>
      </div>
      <div class="image_spacer"></div>
    </div>
    <div class="col-xs-3">
      <ul>
        <li>
          <button type="button" class="btn btn-secondary">Player 2</button>
        </li>
        <li>
          <button type="button" class="btn btn-primary">Rock</button>
          <!-- < % = link_to "Home", root_path % > -->
        </li>
        <li>
          <button type="button" class="btn btn-primary">Paper</button>
          <!-- < % = link_to "About", simple_pages_about_path % > -->
        </li>
        <li>
          <button type="button" class="btn btn-primary">Scissors</button>
          <!-- < % = link_to "Contact", simple_pages_contact_path % > -->
        </li>
        <li>
          <button type="button" class="btn btn-primary">Lizard</button>
        </li>
        <li>
          <button type="button" class="btn btn-primary">Spock</button>
        </li>
      </ul>
    </div>
  </div>
</div>
