// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$darkblue: #15133C;
$mintgreen: #5FC5BA;
$lightblue: #0192C0;

* {box-sizing: border-box;}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: $darkblue;
  color: $mintgreen;
  text-align: center;
  /* Helvetica/Arial-based sans serif stack */
  // font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Verdana-based sans serif stack */
  // font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  /* Trebuchet-based sans serif stack */
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  // font-size: 4em;
  font-weight: bold;
  /* Impact-based sans serif stack */
  // font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px)
{
  body {
    font-size: 2em;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px)
{
  body {
    font-size: 3em;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px)
{
  body {
    font-size: 3.5em;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  body {
    font-size: 4em;
  }
}

.container-fluid {
  margin-left: 0;
  margin-right: 0;
}

/* if portrait mode is detected, rotate the entire site -90 degrees to hint rotating to landscape */
@media (orientation: portrait) {
  #screen_lock {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    overflow:hidden; /* or overflow:auto; if you want scrollbars */
    background-color: $darkblue;
    color: $mintgreen;
    font-size: 2em;
    text-transform: uppercase;
    // -webkit-transform: rotate(-90deg);
    // -moz-transform: rotate(-90deg);
    // -o-transform: rotate(-90deg);
    // -ms-transform: rotate(-90deg);
    // transform: rotate(-90deg);
    z-index: 1;
  }
  #screen_lock_spacer_top {
    padding-top:40%;
  }
}
/* if portrait mode is detected, rotate the entire site -90 degrees to hint rotating to landscape */
@media (orientation: landscape) {
  #screen_lock {
    display: none;
  }
}

.image_spacer {
  height: 20vh;
}
.image_div {
  height: 60vh;
}
#img_rpsls {
  display: block;
  margin: 0 auto;
  // width: 80%;
  height: 100%;
  // width: 90%;
  // margin: 25% 0;
  // position: relative;
  // top: 50%;
  // transform: translateY(20%);
}

// // Aspect ratio box:
// #aspect_ratio_outer {
//   position: relative;
//   width: 100%;
//   padding-bottom: 40%; //
//   margin: auto;
//   border-style: solid;
//   border-color: white;
//   border-width: 10px;
//   // top: 50%;
//   // transform: translateY(25%);
// }
// #aspect_ratio_inner {
//   position: absolute;
//   min-width: 100%;
//   max-width: 100%;
//   min-height: 100%;
//   max-height: 100%;
// }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-top: solid;
  border-bottom: solid;
  border-color: $darkblue;
  border-width: 0px;
  // background-color: $mintgreen;
  // color: $darkblue;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

li {
  // float: left;
  height: calc(100vh / 6);
  margin: 0;
  // border-style: solid;
  // border-color: $darkblue;
  // border-width: 4px;
  background-color: $darkblue;
  // color: $darkblue;
}

// li a {
//   display: block;
//   text-align: center;
//   padding: 16px;
//   text-decoration: none;
// }

// li a:hover {
//   background-color: #111111;
//   color: white;
//   text-align: center;
//   padding: 16px;
//   text-decoration: none;
// }



.player_li {
  background-color: $darkblue;
  color: $lightblue;
  text-align: center;
}
.player_span {
  height: 100%;
  width: 100%;
  // display: inline-block;
  vertical-align: middle;
  line-height: normal;
  white-space: nowrap;
  padding: 0;
  margin: 0;
      display: list-item;
      // -webkit-writing-mode: tab;
      // -webkit-appearance: button;
      text-transform: none;
      text-align: center;
}

.switch {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.col-xs-3 {
  margin: 0;
  padding: 0;
}
.col-xs-6 {
  margin: 0;
  padding: 0;
}
.btn {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}
.btn-primary {
  background-color: $mintgreen;
  color: $darkblue;
  border-color: $darkblue;
}
.btn-primary:active {
  background-color: $mintgreen;
  color: $darkblue;
  outline: none;
  border-color: $darkblue;
}
.btn-primary:focus {
  background-color: $mintgreen;
  color: $darkblue;
  outline: none;
  border-color: $darkblue;
}
.btn-primary:hover {
  background-color: $darkblue;
  color: $mintgreen;
  border-color: $mintgreen;
}
.btn-primary:active:focus {
  background-color: $darkblue;
  color: $mintgreen;
  border-color: $mintgreen;
  outline: none;
}

.btn-secondary {
  text-transform: uppercase;
  background-color: $darkblue;
  color: $mintgreen;
  border-color: $darkblue;
}
.btn-secondary:active {
  text-transform: uppercase;
  background-color: $darkblue;
  color: $mintgreen;
  border-color: $darkblue;
  outline: none;
}
.btn-secondary:focus {
  text-transform: uppercase;
  background-color: $darkblue;
  color: $mintgreen;
  border-color: $darkblue;
  outline: none;
}
.btn-secondary:active:focus {
  text-transform: uppercase;
  background-color: $darkblue;
  color: $mintgreen;
  border-color: $mintgreen;
  outline: none;
}
.btn-secondary:hover {
  text-transform: uppercase;
  background-color: $darkblue;
  color: $mintgreen;
  border-color: $mintgreen;
}
.btn-outline-primary {
  text-transform: uppercase;
  cursor: default;
  background-color: $darkblue;
  color: $mintgreen;
  opacity: 1;
}
.btn-outline-primary:hover {
  text-transform: uppercase;
  cursor: default;
  background-color: $darkblue;
  color: $mintgreen;
  opacity: 1;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: 1;
}
